/*######################### 
General
#########################*/

#wrapper {
	max-width: 80%;
	margin: 0 auto;
	padding: 0 5%;
}

/* Links */
a {
	text-decoration: none;
}



/*######################### 
Heading
#########################*/

#logo {
	text-align: center;
	margin: 0;
}



/*######################### 
Colours
#########################*/

/* Site body */
body {
	background-color: #fff;
	color: #999;
}

header {
	background: #6ab47b;
	border-color: #599a68;
}

/* Logo Text */
h1, h2{
	color: #ffffff;
	margin: 0 0 0 0;
}

/* Nav Background */
nav {
	background: #599a68;
}

nav a, nav a:visited {
	color: ;
}

nav a.selected, nav a:hover {
	color: #32673f;
}





